*{
    padding: 0;
    margin: 0;
    
}
.allpage{
    background: rgba(0, 0, 0, 0.3) url("background.jpg");
    /*background-image: url("background.jpg");*/
    background-size : cover;
    background-blend-mode: darken;
    height: 150vh;
    width: 100%;
    
}
.navbar{
     height: 80px;
     width: 100%;
     background-color:whitesmoke;

}
.navbar .logo {
    height: 50px;
    width: 100px;
    margin-left: 50px;
    margin-top:20px ;

}
.navbar ul {
    float: right;
    margin-right: 50px;
}
.navbar ul li {
    list-style: 20px;
    margin: 0 8px;
    display:inline-block;
    line-height: 80px;
    
}
.navbar ul a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding: 6px 13px;
    font-family:Arial;
    transition: 1s;
   
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background:grey;
    border-radius: 2px;
}
.allpage .center{
     position:absolute;
     top: 100%;
     left:50%;
     transform:translate(-50%, -50%);
     font-family: sans-serif;
     user-select: none;
    }

.center h1{
    color:whitesmoke;
    font-size: 70px;
    font-weight: bold;
    font-family: Arial;
    width: 900px;
    text-align: center;
    margin-top: 50px;

}
p{
    color: whitesmoke;
    font-family: Arial;
    text-align: center;
}


.center .btn{
    
    margin-top: 50px;
    text-align: center;
    
}
.btn button{
    height: 50px;
    width: 150px;
    font-size:18px;
    font-weight:bold;
    color:blue;
    background:white;
    border: 1px solid;
    outline: none;
    border-radius: 25px;
    transition: .5s;
    
}
.btn button:hover{
    background: grey;
}

.our_socialmedia_icons{

    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}


.our_socialmedia_icons li {
    
    list-style: 10px;
    margin: 0 8px;
    display:inline-block;
    line-height: 5px;

}

.our_socialmedia_icons li img{

    width: 50px;
    height: 50px;
}


h2 {

    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;   
 
}
/*phone size*/
@media screen and (max-width: 44em) {

    .allpage{
        background-image:url("background.jpg");
        background-size :cover;
        height: 220vh;
        width: 100%;
        
    }
     .navbar ul {

          text-align: center;
     }
    
     .navbar .logo {
         
        margin-left: 200px;
        margin-top:20px ;
       
     }    

     .navbar ul li a{

        font-size: 14px;
        color: whitesmoke;

     }

     .wrapper .center{
      
         position:absolute;
         margin-top: 150px;

     }

     .center h1{
        font-size: 70px;
        font-weight: bold;
        width: 250px;
        text-align: center;
        margin-top: 180px;     
    
    }

    .center .btn{
         
        margin-top: 50px;
        text-align: center;
        
    }

    .our_socialmedia_icons{

        text-align: center;
}
    
    h2 {

        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size:10px;
    }
}