*{
    
    padding: 0;
    margin: 0;
}


.allpage{
    
    background-image:url(grg.jpg);
    background-size : cover;
    height: 455vh;
    width: 100%;
    
}
.navbar{
     height: 80px;
     width: 100%;
     background-color:whitesmoke;

}
.toggle-button{

    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height:21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: blue;
    border-radius: 10px;
}
.navbar .logo {
    height: 50px;
    width: 100px;
    margin-left: 50px;
    margin-top:20px ;

}
.navbar ul {
    float: right;
    margin-right: 50px;
}
.navbar ul li {
    list-style: 20px;
    margin: 0 8px;
    display:inline-block;
    line-height: 80px;
    
}
.navbar ul a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding: 6px 13px;
    font-family:Arial;
    transition: 1s;
   
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background:grey;
    border-radius: 2px;
}

.car_container1{
    margin-top: 100px;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}
.car1{
    width: 400px;
    height: 240px;
}
.car2{
    width: 400px;
    height: 240px;
}
.car3{
    width: 400px;
    height: 240px;
}

.car_container2{
    margin-top: -50px;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    
}
.car4{
    width: 400px;
    height: 240px;
}
.car5{
    width: 400px;
    height: 240px;
}
.car6{
    
    width: 400px;
    height: 240px;    
}
.moto_container1{
    margin-top: -50px;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;

}
.moto1{
    width: 400px;
    height: 240px;
}
.moto2{
    width: 400px;
    height: 240px;
}
.moto3{
    width: 400px;
    height: 240px;
}
.trucks_container1{
    margin-top: -100px;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}
.truck1{
    width: 400px;
    height: 240px;
}
.truck2{
    width: 400px;
    height: 240px;
}
.hv_container1{
    margin-top: -100px;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;

}
.hv1{
    width: 400px;
    height: 240px;
    
}
.hv2{
    width: 400px;
    height: 240px;
}

p{
    font-family: Arial;
    color:white;
    text-align: center;
    font-size:medium;
}
.our_socialmedia_icons{
    
    text-align: center;

    margin-bottom: 0px;
    
}

.our_socialmedia_icons li {
    
    list-style: 10px;
    margin: 0 8px;
    display:inline-block;
    line-height: 5px;

}
.our_socialmedia_icons li img{

    width: 50px;
    height: 50px;
}
h2 {

    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;  
 
}


/*phone size*/
@media screen and (max-width: 400px) {

    .allpage{
       height: 600vh;
       width: 100%;
    }
    .toggle-button{
        
        margin-right: 60px;
        margin-top: 25px;
        display: flex;
       
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        width: 375px;
    }
    .navbar ul .active{
        display:flex;
    }
    
     .navbar ul {
          
          display:flex;
          /*text-align: center;*/
          width: 80%;
          flex-direction: column;
     }
    
     .navbar .logo {
         
        margin-left: 140px;
        margin-top:20px ;
       
     }
     .navbar ul li{
         text-align: center;
     }

     .navbar ul li a{

        margin-right: 5px;
        font-size: 20px;
        color: whitesmoke;
        padding: .5rem 1rem;

     }
     .car_container1{
        margin-top: 390px;
        margin-right: 200px;
        height:100vh;
        width: 100%;
        display:flex;
        flex-direction: column; 
        
    
    }
    .car_container2{
        margin-top: 200px;
        margin-right: 200px;
        height:100vh;
        width: 100%;
        display:flex;
        flex-direction: column;   
    
    }
    .moto_container1{
        margin-top: 200px;
        margin-right: 200px;
        height:100vh;
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .trucks_container1{

        margin-top: 50px;
        margin-right: 200px;
        height:100vh;
        width: 100%;
        display:flex;
        flex-direction: column;
 }
 .hv_container1{
        margin-top:-20px;
        margin-right: 200px;
        height:100vh;
        width: 100%;
        display:flex;
        flex-direction: column;
 }

    
   p{
       margin-right:80px;
       margin-bottom: 20px;
   }
   .our_socialmedia_icons{

    text-align: center;
}

h2 {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:10px;
}
}