*{
    padding: 0;
    margin: 0;
    
}
.allpage{
    background-image:url("grg.jpg");
    background-size : cover;
    height: 140vh;
    width: 100%;
  
    
}
.navbar{
     height: 80px;
     width: 100%;
     background-color:whitesmoke;

}
.navbar .logo {
    height: 50px;
    width: 100px;
    margin-left: 50px;
    margin-top:20px ;

}
.navbar ul {
    float: right;
    margin-right: 50px;
}
.navbar ul li {
    list-style: 20px;
    margin: 0 8px;
    display:inline-block;
    line-height: 80px;
    
}
.navbar ul a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding: 6px 13px;
    font-family:Arial;
    transition: 1s;
   
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background:grey;
    border-radius: 2px;
}
.form{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 350px;
    max-width: 500px;
    padding:20px;
    box-shadow: 0px 0px 0px rgb(136, 131, 131);
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px ;
    flex-direction:column;

}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border:1px solid blue;
    margin-top: 5px;
}
textarea{
    resize: vertical;
}
button[type="submit"]{
    width: 108%;
    border:none;
    outline:none;
    padding:20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    transition: .3s ;
}


.our_socialmedia_icons{
    
    text-align: center;
    margin-top: 140px;
    margin-bottom: 0px;
    
}

.our_socialmedia_icons li {
    
    list-style: 10px;
    margin: 0 8px;
    display:inline-block;
    line-height: 5px;

}
.our_socialmedia_icons li img{

    width: 50px;
    height: 50px;
}
h2 {

    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;  
 
}

/*phone size*/
@media screen and (max-width: 44em) {

    .allpage{
       height: 120vh;
       width: 100%;
    }
       
       .navbar ul {
   
            text-align: center;
       }
      
       .navbar .logo {
           
          margin-left: 200px;
          margin-top:20px ;
         
       }
       .navbar ul li a{

        font-size: 14px;
        color: whitesmoke;
       }
       .form{
        margin-top: 100px;
        display:flex;
        align-items: center;
     
        width: 90%;
        margin-left: 4px;
        max-width: 500px;
        padding:20px;
        box-shadow: 0px 0px 0px rgb(136, 131, 131);
        background-color: white;
        border-radius: 8px;
        margin-bottom: 20px ;
        flex-direction:column;

        
       }.our_socialmedia_icons{

        text-align: center;
    }
    
    h2 {

        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size:10px;
    }
}